/***** Base Styles *****/
body {
	margin: 30px;

}


/***** Grid *****/


.full-width {
	width: 1200px;
	margin: 0 auto;

}


.half-width {
	width: 600px;
	float: left;

}


.third-width {
	width: 400px;
	float: left;
	padding-top: 50px;


}


.center {
    	margin: auto;
    	text-align: center;
	

}


/*****Header*****/


header {
	height: 800px;
	background-color: #ffffff;
	padding: 100px;

}

nav {
	float: right;
	
	
}


nav ul li {
	display: inline-block;


}


nav ul li a {
	padding-left: 60px;
	text-decoration: none;
	text-transform: uppercase;
	color: #9b9b9b;


}


header h1 img {
	
	padding-right: 10px;

}


header h1 {
	float: left;	
	font-family: 'Libre Baskerville', serif;
	font-size: 48pt;
	text-align: left;
	
	

}


header h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24pt;
	font-weight: normal;
	float: left;
	text-align: left;

}


span {
	color: #ff654a;


}



/*****About*****/

#about {
	color: #ffffff;
	height: 650px;
	background-color: #ff654a;
	
}


#about h2 {
	font-family: 'Libre Baskerville', serif;
	font-size: 36pt;
	padding-top: 175px;
	text-align: center;
	

}

#about p {
	text-align: center;


}


/*****Portfolio*****/


#portfolio {
	height: 650px;
	
}


#portfolio h2 {
	font-family: 'Libre Baskerville', serif;
	font-size: 36pt;
	padding-top: 175px;
	text-align: center;


}

#portfolio img {
	border: 1px solid gray;
	height: 250px;
	width: 250px;


}
/*****Contact Section*****/


#contact {
	color: #fff;
	height: 450px;
	background-color: #ff654a;
	padding-top: 175px;

}


#contact h2 {
	text-align: center;
 
}

/*****Email*****/

#email-address {
	text-decoration: none;
	color: #fff;

}

/*****SocialMedia*****/


#contact ul {
	list-style: none;
	position: relative;
	right: 5%;
}


#contact ul li {
	display: inline-block;
	
}


#contact ul img {
	width: 50px;
	height: 50px;
	padding: 10px;
}

#social-media-header {
	padding-left: 0px;

}


/*****Footer*****/

footer p {
	background-color: #ff654a;
	color: #fff;
	font-size: 12px;
	margin: 0;
	text-align: center;
	padding-bottom: 20px;
}

