/***** Base Styles *****/

body {
	margin: 0px;
	
}


/***** Grid *****/

.full-width {
	width: 1200px;
	padding-left: 100px;
	
}



.third-width {
	width: 400px;
	float: left;
	padding-top: 50px;


}


.center {
    	margin: auto;
    	text-align: center;
	

}


/*****Header*****/


header {
	height: 800px;
	background-color: #ffffff;
	
	

}


nav {
	float: right;
	padding-top: 50px;
	position: relative;
	left: 40%;
	
}


nav ul li {
	display: inline-block;


}


nav ul li a {
	color: #313131;
	font-family: 'Open Sans', sans-serif;
	font-size: 18pt;
	font-weight: normal;
	padding-left: 25px;
	text-decoration: none;
	text-transform: uppercase;


}



header h1 img {
	
	padding-right: 27px;

}


header h1 {
		
	font-family: 'Libre Baskerville', serif;
	font-size: 48pt;
	text-align: left;
	padding-top: 292px;
	

}


header h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 32pt;
	font-weight: normal;
	
	text-align: left;

}


span {
	color: #ff654a;


}



/*****About*****/

#about {
	color: #ffffff;
	height: 1050px;
	background-color: #ff654a;
	
}


#about h2 {
	font-family: 'Libre Baskerville', serif;
	font-size: 36pt;
	padding-top: 171px;
	text-align: center;
	

}

#about p {
	text-align: center;


}


/*****Portfolio*****/


#portfolio {
	height: 850px;
	
}


#portfolio h2 {
	font-family: 'Libre Baskerville', serif;
	font-size: 32pt;
	padding-top: 168px;
	text-align: center;


}


#portfolio h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 18pt;
	padding-top: 32px;

}


#portfolio p {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 18pt;
	
}


#portfolio img {
	border: 1px solid gray;
	height: 225px;
	width: 350px;


}


/*****Contact Section*****/


#contact {
	color: #fff;
	height: 650px;
	background-color: #ff654a;
	padding-top: 173px;

}


#contact h2 {
	font-family: 'Libre Baskerville', serif;
	font-size: 36pt;
	text-align: center;
 
}

/*****Email*****/

#email-address {
	text-decoration: none;
	color: #fff;

}

/*****SocialMedia*****/


#contact ul {
	list-style: none;
	position: relative;
	right: 5%;
}


#contact ul li {
	display: inline-block;
	
}


#contact ul img {
	width: 50px;
	height: 50px;
	padding: 10px;
}

#social-media-header {
	padding-left: 0px;

}


/*****Footer*****/

footer p {
	background-color: #ff654a;
	color: #fff;
	font-size: 12px;
	margin: 0;
	text-align: center;
	padding-bottom: 20px;
}

